# Terraform
/**/.terraform/
/**/.terraform.lock.hcl
/**/*.tfstate
/**/*.tfstate.*
/**/*.tfplan

# Go
/vendor/
coverage.out

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# chanwit/tdg
/tdg/
cookies.txt

# cozystack-infra scripts
/cozystack-infra/
/cozystack-infra/**
